div {
    width: 100%;
    box-sizing: border-box;
}

.sns-button {
    width: 100%;
    margin-bottom: 10px;
}

.sns-button img {
    width: 20px;
    margin-right: 35px;
}

.yellow {
    background-color: #FEE500;
    color: #191603;
}

.green {
    background-color: #1FCB53;
    color: white;
}
