@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root {
	--vh: 100%;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-grey: #757575;
	--color-main: #0f0aef;
}

p {
	margin-top: 10px;
}

.intro {
	position: relative;
	height: 100%;
	padding-top: 50px;
	text-align: center;
}

.slider {
	display: flex;
	position: relative;
	margin: 0;
	width: 100%;
}

.profiles {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	animation: loop 60s linear infinite;
}

@keyframes loop {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
