:root {
	--vh: 100%;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-grey: #757575;
	--color-lightgrey: #d4d6da;
	--color-main: #0f0aef;
}

p {
	margin-top: 10px;
}

.signup {
	position: relative;
	height: 100%;
	padding-top: 50px;
	text-align: center;
}

.SignUp-form {
	width: 100%;
	height: 80%;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}

.input {
	width: 100%;
	background-color: var(--color-white);
	border: 1px solid var(--color-lightgrey);
	border-radius: 3.5px;
	padding: 13px 0;
	margin: 10px 0;
}

.input-gender > input {
	width: 45%;
	height: 40px;
	color: var(--color-lightgrey);
}

.input-gender > input:hover,
.input-gender > input:focus {
	color: var(--color-main);
	border: 1px solid var(--color-main);
	transition: 0.2s;
}

.input-phone > input[type="button"] {
	background-color: var(--color-lightgrey);
	border: none;
	width: 40%;
	height: 40px;
	border-radius: 3.5px;
}

.input-phone > input[type="text"] {
	width: 50%;
}

.phonenum {
	margin-right: 20px;
}

.input-gender,
.input-phone {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.modal {
	animation: fadeInUp 0.5s;
}

.mento-types {
	display: flex;
	margin-top: 10vh;
}

.stickyTxt {
	position: fixed;
}

.mento-types > img {
	width: 100%;
	height: 35vh;
	border-radius: 30px;
	object-fit: fill;
	margin-right: 10px;
}

.selected {
	border: 2px solid var(--color-main);
	transition: 0.2s;
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translateZ(0);
	}
}
